@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body, button, input {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
